<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell">
  
  <p>Freelance Artist living and working in London.</p>
  <p>Specialising in abstract paintings, using mixed media, she makes personal work that is available to buy and is also available for commissions.</p>
  
  <a href="mailto:{{site.email}}">{{site.email}}</a><br>
  <a href="{{site.social.instagram}}" target="_blank">Instagram</a><br>
  <a href="{{site.social.facebook}}" target="_blank">Facebook</a><br>
  
  </div>
</div>