<div class="row small-collapse">
  <div class="small-12 columns">
  
  <p>Freelance Artist living and working in London.</p>
  <p>Specialising in abstract paintings, using mixed media, she makes personal work that is available to buy and is also available for commissions.</p>
  
  <a href="mailto:studio@sarahbeckmather.com">studio@sarahbeckmather.com</a><br>
  <a href="tel:07725737734">+44 (0)77 2573 7734</a><br>
  <a href="{{site.social.instagram}}" target="_blank">Instagram</a><br>
  <a href="{{site.social.instagram}}" target="_blank">Facebook</a><br>
  
  </div>
</div>