@font-face {
  font-family: 'AustinText-Roman';
  src: 
  url('../fonts/AustinText-Roman.woff') format('woff'), 
  url('../fonts/AustinText-Roman.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AustinText-Italic';
  src: 
  url('../fonts/AustinText-Italic.woff') format('woff'), 
  url('../fonts/AustinText-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'lg';
  src: 
  url('../fonts/lg.woff') format('woff'), 
  url('../fonts/lg.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}