@font-face {
  font-family: 'AustinText-Roman';
  src: 
  url('../fonts/austintext-roman.woff2') format('woff2'), 
  url('../fonts/austintext-roman.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff2') format('woff2'), 
  url('../fonts/gallery.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}