@font-face {
  font-family: 'Untitled Sans Regular';
  src: 
  url('../fonts/untitled-sans-regular.woff2') format('woff2'), 
  url('../fonts/untitled-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Heavy';
  src: 
  url('../fonts/druk-heavy.woff2') format('woff2'), 
  url('../fonts/druk-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}