---
layout: default
---

<div class="masonry works" id="gallery">
  {% for image in page.images %}
  <div class="masonry__item" data-src="{{image.image | imgix_url: w: 1024, fit: "clip", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 2}}" data-sub-html="{% if image.title %}{{image.title}}{% endif %} {% if image.title %}—{% endif %} {% if image.media %}{{image.media}}{% endif %}">
    <a href="{{image.image | imgix_url: w: 1024, fit: "clip", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 2}}">{% include image-thumb.html %}</a>
  </div>
  {% endfor %}
</div>